QDRANT_URL=https://....aws.cloud.qdrant.io
QDRANT_API_KEY= *********
DATABASE_URL=postgresql+psycopg2://....:.......@localhost:5432/rag_backend

REDIS_URL =redis://default:......@urbane-potato-claret-99006.db.redis.io:17487

GEMINI_API_KEY = .........